main {
    padding-bottom:3em;
    .int-container .interaction {
        .clearfix;
        margin:2em -15px;
        padding:1em;
        @media (min-width: @screen-sm) { 
            padding: 1em 2em; 
            margin:0;
        }
    }
}

.interaction { overflow:auto; }

//Stops page from being hidden in responsive view when .interaction is used to as the immediate child beneath main #int-content

#int-content > .interaction {
    width: 100%;
}

// Removes outline from block and section
div:focus, section:focus {
    outline: 0;
}
.int-noMargin {
    margin: 0;
}
.int-noPadding {
    padding: 0;
}