@page
{margin: 1cm;}
body
{font-size: 12pt; font-weight:normal;}
h1, h2, h3, h4, h5, h6, a, p, dt, [class*="subheading"]
{font-weight: normal !important;}
h1
{font-size: 19pt;}
h2, .int-intro-text
{font-size: 14pt;}
h3
{font-size: 13pt;}
h4, h5, h6, body .ou-footer
{font-size: 12pt;}
blockquote, blockquote p
{font-size: 14pt !important;}
blockquote cite
{font-size: 13pt !important;}
blockquote
{padding: 0 !important;}
blockquote:before
{content: normal !important;}
dl, dt, dd
{padding: 0 !important; margin: 0 !important;}
td, th
{padding:5px!important;}
dt
{padding-top: 5px !important; margin-top: 5px !important; font-size: 11pt;}
[class*="int-grid"]
{width: 100% !important; margin-left: 0;}
#ou-nav-height, nav, .footer, .video-wrapper, .int-search-box, .btn-top, .breadcrumb, dl.int-tags, .int-header-image, .int-modal-inner, .ou-skip, .ou-identity, .ou-mobile-menu-toggle, #ou-header-nav, img, .int-icon, .int-icon-btn, a.int-button, .int-button, button, input[type="submit"], input[type="button"], #addToShortlist, .int-video-embed, .ui-tabs-nav, .tabs, hr, #kis, .change-country-link
{display:none !important;}
.country-changer
{padding: 0 0 5px;}

.int-container
{padding-left:0!important;padding-right:0!important;width: auto;border:0;margin:0 0.5cm;}
.int-container .int-container
{margin:0;}

.ui-tabs-panel, .int-toggler .int-toggleContent, .cl-tab .int-toggler
{display:block!important;border:0!important;padding:0!important;margin:0!important;} /*To display all content within tabs*/
                                                                   
.panels > div
{border:0!important;padding:0!important;display:block!important;}
h1,h2,h3,h4,h4,h5,h6,img,div,span,p, label, legend, caption, thead, tr, th
{page-break-after:avoid;page-break-before:avoid;float:none;}
.int-course-overview .int-quick-facts, .int-toggleContent
{margin-top:0; padding:0; float:none; width:100%;}      
.interaction
{margin-top: 0!important; margin-bottom: 0!important;}
.interaction *, .interaction h1, .interaction h2, .interaction h3, .interaction h4, .interaction h5, .interaction h6, label
{color: #0b55a8 !important;}
.interaction a
{color: #880088;}
.interaction, .interaction p, .interaction span
{color:#424242;}
.interaction .int-container, .int-promo .int-container, .int-notice
{padding: 0!important;}
label:before
{content:none !important;height:auto!important;}
input[type=checkbox], input[type=radio], input[type="checkbox"] + label, input[type="radio"] + label
{display:inline!important;}
input[type="checkbox"] + label, input[type="radio"] + label
{padding-top:8px!important;}
select, input[type="text"], input[type="password"], input[type="search"], input[type="url"], input[type="email"], input[type="number"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea
{padding: 0 !important; margin: 0 !important; left: 0; text-align: left; text-indent: 0px; background: #fff; border: 0 !important; border-radius: 0; font-size: 13pt;}
.int-course-overview, .int-article-link
{padding-bottom: 0px !important;}
.int-quick-facts
{border: 0;}
.int-quick-facts .helpContainer, .int-quick-facts h2
{padding: 0;}
.int-striped-list li 
{padding: 0 !important;}
.int-promo
{margin-bottom: 0!important;}
.int-notice
{padding: 0!important;}
table.int-table-bordered-thick
{border-width: 1px;}
table.int-table-bordered-thick thead tr:last-child th
{border-width: 2px;}
.int-toggleTrigger, .int-toggleTrigger span
{padding-left: 0 !important; margin-left: 0 !important;}
.int-accordion .ui-accordion-content
{display: block !important; padding: 0 !important;}
.int-accordion .ui-accordion-header
{padding-left: 0 !important;}
.int-accordion .ui-icon
{display: none !important;}
.int-tags.int-tags-sq a, .int-tags.int-tags-sq span
{padding: 0 !important;}
.int-tags span, .int-tags a, .int-tags .active
{color: #0b55a8 !important;}

.int-feature
{padding:0!important;margin:0!important;border:0!important;}
.int-feature.callToAction, .radioCheck
{padding-left:0!important;padding-right:0!important;}
.int-feature.callToAction.borderBottom, .int-feature.callToAction.borderTop
{border:0!important;}
.int-form .inlineHeading
{margin-top: .67em; margin-bottom: .5em;}
.int-feature h1:first-child, .int-feature h2:first-child, .int-feature h3:first-child, .int-feature h4:first-child
{margin-top: .67em !important;margin-bottom: .5em !important;}

.radioCheck
{display: table;margin-top: 0;margin-bottom: .2em;}
.radioCheck input[type=radio]
{display: table-cell;}
.radioCheck input.radio:empty ~ label
{display:table-cell!important;border:0!important;background:transparent!important;padding-left:0!important;padding-right:0!important;line-height:18pt!important;font-size:14pt!important;}
.radioCheck input.radio:empty
{display:inline!important;float:none!important;position:relative!important;margin-top:8px!important;}
.radioCheck input.radio:empty ~ label:before
{background:transparent!important;width:32px!important;}
.radioCheck input.radio:checked ~ label
{background:transparent!important;}
.radioCheck input.radio:checked ~ label:before
{content:""!important;background:transparent!important;}
.radioCheck input.radio:hover:not(:checked) ~ label:before
{content:""!important;}
.int-toggler > p
{margin:0!important;}
.int-textToggleTrigger
{display:none!important;}
.tabNav
{display: none; visibility: hidden;}

.int-checklistRow label
{padding: .5em 0;}
.int-checkboxImage
{display: none;}