﻿@import "secondary-nav-mixin.less";

#ou-nav-height {
  display: table;
  width: 100%;
}
.ou-secondary-nav,
.ou-secondary-nav * {
  .box-sizing();
}
.ou-secondary-nav {
    background: @light-blue;
    display: none;
    font-size: 1rem;
    font-family: "futura-pt", verdana, sans-serif;
    line-height: 1.4rem;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
    .ou-container {
        zoom: 1;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        max-width: 1180px;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            float: left;
            display: inline;
            &:before {
                content: "";
                display: none;
            }
            a {
                color: @mid-blue;
                display: table-cell;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
                span {
                    display: block;
                    padding: 11px 20px;
                }
                &.int-nav-trigger {
                    .navTrigger();
                    &:hover {
                        background: @mid-blue;
                        text-decoration: none;
                        i {
                            color: @pale-blue;
                        }
                    }
                    span {
                        padding: 0;
                    }
                    .int-icon.int-icon-chevron-up,
                    .int-icon.int-icon-chevron-right {
                        display: none;
                    }
                    .int-icon.int-icon-chevron-down {
                        display: block;
                    }
                }
                &.ou-backToMainMenu {
                    display: none;
                }
            }
            &.ou-nav-active {
                a.int-nav-trigger {
                    &:extend(.ou-secondary-nav ul li a.int-nav-trigger);
                    .int-icon.int-icon-chevron-down,
                    .int-icon.int-icon-chevron-right {
                        &:extend(.ou-secondary-nav ul li a.int-nav-trigger .int-icon.int-icon-chevron-up);
                    }
                    .int-icon.int-icon-chevron-up {
                        &:extend(.ou-secondary-nav ul li a.int-nav-trigger .int-icon.int-icon-chevron-down);
                    }
                }
                > a {
                    background: @pale-blue;
                    border-color: @pale-blue;
                }
                ul {
                    background: @pale-blue;
                }
            }
            &.ou-nav-inactive {
                a.int-nav-trigger {
                    .int-icon.int-icon-chevron-up, .int-icon.int-icon-chevron-right {
                        display: none;
                    }
                    .int-icon.int-icon-chevron-down {
                        display: block;
                    }
                }
            } 
        }
    }
    li {
        > .ou-nav-sub-menu {
            display: none;
        }
        .ou-nav-active {
            > .ou-nav-sub-menu,
            &[role="menuitem"] ul {
                display: block;
            }
        }
    }
}

// OUDigital overide
.generatedcontent .ou-secondary-nav ul li {
  position: static;
  padding: 0;
}

.int-nav-toggle, .ou-nav-toggle {
  display: none;
}

.ou-nav-sub-menu {
    width: 100%;
    float: left;
    position: absolute;
    left: 0;
    background: @pale-blue;
    ul li {
        a {
            font-weight: normal;
        }
        &.ou-nav-active {
            > a {
                font-weight: bold;
            }
            a.ou-showSubSubMenu {
                display: none;
            }
        }
    }
    .ou-nav-sub-menu {
        background: @white;
        border-bottom: 1px solid @medium-blue;
        .ou-nav-sub-menu ul li.ou-nav-active > a {
            background: @white;
            border-color: @white;
        }
    }
}


/*Mobile nav*/
@media (max-width: 767px) {
    body:not(.ie8) {
        .ou-nav-mob-overlay,
        .ou-secondary-nav {
            .transitionOut();
        }
        .ou-nav-mob-overlay {
            position: fixed;
            z-index: 99;
            top: 0;
            bottom: 0;
            left: -15%;
            width: 15%;
            background:rgba(0, 0, 0, 0.75);
            &.ou-nav-open-active {
                left: 0;
            }
        }
        .ou-secondary-nav {
            display: none;
            position: fixed;
            right: -85%;
            top: 0;
            bottom: 0;
            width: 85%;
            z-index: 110;
            background: @mid-blue;
            border-left: 1px solid rgba(255, 255, 255, 0.75);
            font-size: 16px;
            .ou-nav-toggle {
                .int-icon-times {
                    display: none;
                }
                .int-icon-bars {
                    display: block;
                }
            }
            &.ou-nav-open-active {
                right: 0;
                .ou-nav-toggle .int-icon-bars {
                    &:extend(.ou-secondary-nav:not(.ie8) .ou-nav-toggle .int-icon-times);
                }
                .ou-nav-toggle .int-icon-times {
                    &:extend(.ou-secondary-nav:not(.ie8) .ou-nav-toggle .int-icon-bars);
                }
            }
            .ou-container {
                top: 0;
                bottom: 0;
                position: absolute;
            }
            > .ou-container {
                padding: 18px 0 0 0;
                background: @light-blue;
                top: 0;
                bottom: 0;
                left: 8px;
                right: 0;
                position: absolute;
            }
            .int-menu-scroll {
                overflow-y: auto;
            }
            > ul > li {
                > a.int-nav-trigger {
                    background: @light-blue;
                }
                .ou-nav-sub-menu a.int-nav-trigger {
                    background: @light-grey-blue;
                }
                .ou-nav-sub-menu {
                    .transitionOut();
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    bottom: 0;
                    z-index: 150;
                }
                > .ou-nav-sub-menu {
                    background: @light-grey-blue;
                }
                .ou-nav-sub-menu,
                .ou-nav-sub-menu .ou-nav-sub-sub-menu {
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                &.ou-nav-active > .ou-nav-sub-menu,
                &.ou-nav-active > .ou-nav-sub-menu .ou-nav-active .int-nav-sub-menu {
                    display: block;
                }
                // is this required?
                &.ou-nav-active .ou-nav-sub-menu {
                    position: absolute;
                    top: 0;
                    z-index: 150;
                }
            }
            ul li {
                float: none;
                position: static;
                visibility: hidden;
                > a {
                    color: @dark-grey;
                    display: inline-block;
                    padding: 0 20px 0 10px;
                    text-decoration: none;
                    width: 100%;
                }
                a {
                    font-weight: normal;
                    &:hover {
                        text-decoration: underline;
                        background: @dark-blue;
                        color: @white;
                        font-weight: normal;
                    }
                    span {
                        display: block;
                        padding: 10px;
                        border-top: 1px solid @medium-blue;
                    }
                }
                a.int-nav-trigger {
                    position: absolute;
                    right: 20px;
                    height: 44px;
                    width: 45px;
                    vertical-align: middle;
                    padding: 14px;
                    color: @dark-blue;
                    border: 1px solid @medium-blue;
                    border-left-style: dotted;
                    border-right-style: dotted;
                    &:hover, &:hover i {
                        background: @dark-blue;
                        color: @white;
                        border: 0;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    span {
                        border: 0;
                        padding: 0;
                    }
                    .int-icon.int-icon-chevron-up,
                    .int-icon.int-icon-chevron-down {
                        display: none;
                    }
                    .int-icon.int-icon-chevron-right {
                        left: 4px;
	                    top: 1px;
	                    position: relative;
	                    display: block;
                    }
                }
                &.ou-nav-active {
                    > a, a:hover {
                        &:extend(.ou-secondary-nav:not(.ie8) ul li a:hover);
                    }
                    a.int-nav-trigger {
                        &:extend(.ou-secondary-nav:not(.ie8) ul li a.int-nav-trigger);
                        .int-icon.int-icon-chevron-up {
                            &:extend(.ou-secondary-nav:not(.ie8) ul li a.int-nav-trigger .int-icon.int-icon-chevron-up);
                        }
                        .int-icon.int-icon-chevron-right {
                            &:extend(.ou-secondary-nav:not(.ie8) ul li a.int-nav-trigger .int-icon.int-icon-chevron-right);
                        }
                    }
                    ul {
                        background: transparent;
                    }
                }
                &.ou-nav-inactive {
                    a.int-nav-trigger {
                        .int-icon.int-icon-chevron-down {
                            &:extend(.ou-secondary-nav:not(.ie8) ul li a.int-nav-trigger .int-icon.int-icon-chevron-up);
                        }
                        .int-icon.int-icon-chevron-right {
                            &:extend(.ou-secondary-nav:not(.ie8) ul li a.int-nav-trigger .int-icon.int-icon-chevron-right);
                        }
                    }
                }
                a.ou-backToMainMenu {
                    display: block;
                    padding: 0 10px;
                    background: @light-blue;
                    color: @dark-blue;
                    span {
                        border-top: 0;
                    }
                    + ul > li:first-child {
                        a, a span {
                            &:extend(.ou-secondary-nav:not(.ie8) ul li a.ou-backToMainMenu span);
                        }
                    }
                    i {
                        margin-right: .5em;
                    }
                    &:hover {
                        background: @dark-blue;
                        color: @white;
                    } 
                }
                a.ou-backUpLevel i {
                    &:extend(.ou-secondary-nav:not(.ie8) ul li a.ou-backToMainMenu i);
                }
            }
            &.ou-nav-open-active ul li {
                visibility: visible;
            }
            &.ou-nav-open {
                z-index: 200;
                display: block;
            }
            .ou-nav-sub-menu {
                .ou-nav-sub-menu {
                    .ou-backToMainMenu {
                        background: @light-grey-blue;
                        &:hover {
                            background: @dark-blue;
                            color: @white;
                        }
                    }
                }
                .ou-showSubSubMenu {
                    display: block;
                    width: 43px;
                    height: 43px;
                    padding: 13px 0 0 0;
                    position: absolute;
                    margin-top: -42px;
                    text-align: center;
                    z-index: 140;
                }
            }
            .int-nav-toggle,
            .ou-nav-toggle {
                border: 1px solid rgba(255, 255, 255, 0.75);
                border-right: 0;
                .border-radius();
                .transitionOut();
                position: absolute;
                z-index: 110;
                top: 60px;
                left: -44px;
                display: block;
                width: 44px;
                height: 44px;
                padding-top: 12px;
                text-align: center;
                background: @mid-blue;
                color: @light-blue;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                &:active, &:focus {
                    outline-color: @gold;
                }
            } 
        }
    }
}
