﻿// Layout
.box-sizing(@box-sizing: border-box) {
-webkit-box-sizing: @box-sizing;
   -moz-box-sizing: @box-sizing;
        box-sizing: @box-sizing;
}
.border-radius(@border-radius: 5px 0 0 5px) {
-webkit-border-radius: @border-radius;
   -moz-border-radius: @border-radius;
        border-radius: @border-radius;
}

// Primary colour palette
@mid-blue: #0b55a8;
@light-blue: #a6d0ff;
@gold: #ffc23d;
@dark-blue: #002158;
@dark-grey: #312b39;
@white: #fff;

// Secondary colour palette
@medium-blue: #7fb3d9;
@pale-blue: #d4e8ff;
@light-grey-blue: #e7eff7;

// Transitions
.transitionOut(@transition: all 0.2s ease-out) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}
// Icons command buttons
.navTrigger() {
    font-size: 0.875em;
    padding: 7px 15px;
    border-left: 1px dotted @medium-blue;
    border-right: 1px solid @medium-blue;
}
