#ou-nav-height {
  display: table;
  width: 100%;
}
.ou-secondary-nav,
.ou-secondary-nav * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ou-secondary-nav {
  background: #a6d0ff;
  display: none;
  font-size: 1rem;
  font-family: "futura-pt", verdana, sans-serif;
  line-height: 1.4rem;
}
.ou-secondary-nav:before,
.ou-secondary-nav:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.ou-secondary-nav:after {
  clear: both;
}
.ou-secondary-nav .ou-container {
  zoom: 1;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 1180px;
}
.ou-secondary-nav ul {
  padding: 0;
  margin: 0;
}
.ou-secondary-nav ul li {
  padding: 0;
  float: left;
  display: inline;
}
.ou-secondary-nav ul li:before {
  content: "";
  display: none;
}
.ou-secondary-nav ul li a {
  color: #0b55a8;
  display: table-cell;
  text-decoration: none;
  font-weight: bold;
}
.ou-secondary-nav ul li a:hover {
  text-decoration: underline;
}
.ou-secondary-nav ul li a span {
  display: block;
  padding: 11px 20px;
}
.ou-secondary-nav ul li a.int-nav-trigger,
.ou-secondary-nav ul li.ou-nav-active a.int-nav-trigger {
  font-size: 0.875em;
  padding: 7px 15px;
  border-left: 1px dotted #7fb3d9;
  border-right: 1px solid #7fb3d9;
}
.ou-secondary-nav ul li a.int-nav-trigger:hover {
  background: #0b55a8;
  text-decoration: none;
}
.ou-secondary-nav ul li a.int-nav-trigger:hover i {
  color: #d4e8ff;
}
.ou-secondary-nav ul li a.int-nav-trigger span {
  padding: 0;
}
.ou-secondary-nav ul li a.int-nav-trigger .int-icon.int-icon-chevron-up,
.ou-secondary-nav ul li a.int-nav-trigger .int-icon.int-icon-chevron-right,
.ou-secondary-nav ul li.ou-nav-active a.int-nav-trigger .int-icon.int-icon-chevron-down,
.ou-secondary-nav ul li.ou-nav-active a.int-nav-trigger .int-icon.int-icon-chevron-right {
  display: none;
}
.ou-secondary-nav ul li a.int-nav-trigger .int-icon.int-icon-chevron-down,
.ou-secondary-nav ul li.ou-nav-active a.int-nav-trigger .int-icon.int-icon-chevron-up {
  display: block;
}
.ou-secondary-nav ul li a.ou-backToMainMenu {
  display: none;
}
.ou-secondary-nav ul li.ou-nav-active > a {
  background: #d4e8ff;
  border-color: #d4e8ff;
}
.ou-secondary-nav ul li.ou-nav-active ul {
  background: #d4e8ff;
}
.ou-secondary-nav ul li.ou-nav-inactive a.int-nav-trigger .int-icon.int-icon-chevron-up,
.ou-secondary-nav ul li.ou-nav-inactive a.int-nav-trigger .int-icon.int-icon-chevron-right {
  display: none;
}
.ou-secondary-nav ul li.ou-nav-inactive a.int-nav-trigger .int-icon.int-icon-chevron-down {
  display: block;
}
.ou-secondary-nav li > .ou-nav-sub-menu {
  display: none;
}
.ou-secondary-nav li .ou-nav-active > .ou-nav-sub-menu,
.ou-secondary-nav li .ou-nav-active[role="menuitem"] ul {
  display: block;
}
.generatedcontent .ou-secondary-nav ul li {
  position: static;
  padding: 0;
}
.int-nav-toggle,
.ou-nav-toggle {
  display: none;
}
.ou-nav-sub-menu {
  width: 100%;
  float: left;
  position: absolute;
  left: 0;
  background: #d4e8ff;
}
.ou-nav-sub-menu ul li a {
  font-weight: normal;
}
.ou-nav-sub-menu ul li.ou-nav-active > a {
  font-weight: bold;
}
.ou-nav-sub-menu ul li.ou-nav-active a.ou-showSubSubMenu {
  display: none;
}
.ou-nav-sub-menu .ou-nav-sub-menu {
  background: #ffffff;
  border-bottom: 1px solid #7fb3d9;
}
.ou-nav-sub-menu .ou-nav-sub-menu .ou-nav-sub-menu ul li.ou-nav-active > a {
  background: #ffffff;
  border-color: #ffffff;
}
/*Mobile nav*/
@media (max-width: 767px) {
  body:not(.ie8) .ou-nav-mob-overlay,
  body:not(.ie8) .ou-secondary-nav {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  body:not(.ie8) .ou-nav-mob-overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: -15%;
    width: 15%;
    background: rgba(0, 0, 0, 0.75);
  }
  body:not(.ie8) .ou-nav-mob-overlay.ou-nav-open-active {
    left: 0;
  }
  body:not(.ie8) .ou-secondary-nav {
    display: none;
    position: fixed;
    right: -85%;
    top: 0;
    bottom: 0;
    width: 85%;
    z-index: 110;
    background: #0b55a8;
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    font-size: 16px;
  }
  body:not(.ie8) .ou-secondary-nav .ou-nav-toggle .int-icon-times {
    display: none;
  }
  body:not(.ie8) .ou-secondary-nav .ou-nav-toggle .int-icon-bars {
    display: block;
  }
  body:not(.ie8) .ou-secondary-nav.ou-nav-open-active {
    right: 0;
  }
  body:not(.ie8) .ou-secondary-nav .ou-container {
    top: 0;
    bottom: 0;
    position: absolute;
  }
  body:not(.ie8) .ou-secondary-nav > .ou-container {
    padding: 18px 0 0 0;
    background: #a6d0ff;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 0;
    position: absolute;
  }
  body:not(.ie8) .ou-secondary-nav .int-menu-scroll {
    overflow-y: auto;
  }
  body:not(.ie8) .ou-secondary-nav > ul > li > a.int-nav-trigger {
    background: #a6d0ff;
  }
  body:not(.ie8) .ou-secondary-nav > ul > li .ou-nav-sub-menu a.int-nav-trigger {
    background: #e7eff7;
  }
  body:not(.ie8) .ou-secondary-nav > ul > li .ou-nav-sub-menu {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    bottom: 0;
    z-index: 150;
  }
  body:not(.ie8) .ou-secondary-nav > ul > li > .ou-nav-sub-menu {
    background: #e7eff7;
  }
  body:not(.ie8) .ou-secondary-nav > ul > li .ou-nav-sub-menu,
  body:not(.ie8) .ou-secondary-nav > ul > li .ou-nav-sub-menu .ou-nav-sub-sub-menu {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  body:not(.ie8) .ou-secondary-nav > ul > li.ou-nav-active > .ou-nav-sub-menu,
  body:not(.ie8) .ou-secondary-nav > ul > li.ou-nav-active > .ou-nav-sub-menu .ou-nav-active .int-nav-sub-menu {
    display: block;
  }
  body:not(.ie8) .ou-secondary-nav > ul > li.ou-nav-active .ou-nav-sub-menu {
    position: absolute;
    top: 0;
    z-index: 150;
  }
  body:not(.ie8) .ou-secondary-nav ul li {
    float: none;
    position: static;
    visibility: hidden;
  }
  body:not(.ie8) .ou-secondary-nav ul li > a {
    color: #312b39;
    display: inline-block;
    padding: 0 20px 0 10px;
    text-decoration: none;
    width: 100%;
  }
  body:not(.ie8) .ou-secondary-nav ul li a {
    font-weight: normal;
  }
  body:not(.ie8) .ou-secondary-nav ul li a:hover {
    text-decoration: underline;
    background: #002158;
    color: #ffffff;
    font-weight: normal;
  }
  body:not(.ie8) .ou-secondary-nav ul li a span {
    display: block;
    padding: 10px;
    border-top: 1px solid #7fb3d9;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.int-nav-trigger {
    position: absolute;
    right: 20px;
    height: 44px;
    width: 45px;
    vertical-align: middle;
    padding: 14px;
    color: #002158;
    border: 1px solid #7fb3d9;
    border-left-style: dotted;
    border-right-style: dotted;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.int-nav-trigger:hover,
  body:not(.ie8) .ou-secondary-nav ul li a.int-nav-trigger:hover i {
    background: #002158;
    color: #ffffff;
    border: 0;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.int-nav-trigger:hover {
    text-decoration: none;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.int-nav-trigger span {
    border: 0;
    padding: 0;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.int-nav-trigger .int-icon.int-icon-chevron-up,
  body:not(.ie8) .ou-secondary-nav ul li a.int-nav-trigger .int-icon.int-icon-chevron-down {
    display: none;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.int-nav-trigger .int-icon.int-icon-chevron-right {
    left: 4px;
    top: 1px;
    position: relative;
    display: block;
  }
  body:not(.ie8) .ou-secondary-nav ul li.ou-nav-active ul {
    background: transparent;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.ou-backToMainMenu {
    display: block;
    padding: 0 10px;
    background: #a6d0ff;
    color: #002158;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.ou-backToMainMenu span {
    border-top: 0;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.ou-backToMainMenu i {
    margin-right: .5em;
  }
  body:not(.ie8) .ou-secondary-nav ul li a.ou-backToMainMenu:hover {
    background: #002158;
    color: #ffffff;
  }
  body:not(.ie8) .ou-secondary-nav.ou-nav-open-active ul li {
    visibility: visible;
  }
  body:not(.ie8) .ou-secondary-nav.ou-nav-open {
    z-index: 200;
    display: block;
  }
  body:not(.ie8) .ou-secondary-nav .ou-nav-sub-menu .ou-nav-sub-menu .ou-backToMainMenu {
    background: #e7eff7;
  }
  body:not(.ie8) .ou-secondary-nav .ou-nav-sub-menu .ou-nav-sub-menu .ou-backToMainMenu:hover {
    background: #002158;
    color: #ffffff;
  }
  body:not(.ie8) .ou-secondary-nav .ou-nav-sub-menu .ou-showSubSubMenu {
    display: block;
    width: 43px;
    height: 43px;
    padding: 13px 0 0 0;
    position: absolute;
    margin-top: -42px;
    text-align: center;
    z-index: 140;
  }
  body:not(.ie8) .ou-secondary-nav .int-nav-toggle,
  body:not(.ie8) .ou-secondary-nav .ou-nav-toggle {
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-right: 0;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: absolute;
    z-index: 110;
    top: 60px;
    left: -44px;
    display: block;
    width: 44px;
    height: 44px;
    padding-top: 12px;
    text-align: center;
    background: #0b55a8;
    color: #a6d0ff;
    text-decoration: none;
  }
  body:not(.ie8) .ou-secondary-nav .int-nav-toggle:hover,
  body:not(.ie8) .ou-secondary-nav .ou-nav-toggle:hover {
    text-decoration: underline;
  }
  body:not(.ie8) .ou-secondary-nav .int-nav-toggle:active,
  body:not(.ie8) .ou-secondary-nav .ou-nav-toggle:active,
  body:not(.ie8) .ou-secondary-nav .int-nav-toggle:focus,
  body:not(.ie8) .ou-secondary-nav .ou-nav-toggle:focus {
    outline-color: #ffc23d;
  }
}
