// =============================================================================
// Inline icon link
// 
// =============================================================================

a.int-inline-icon-link, a.int-inline-icon-text {
    text-decoration: none;
	&:hover {
		text-decoration: none;
		span {
			text-decoration:none;
		}
	}
    span {
        text-decoration: underline;
    }
	
	&.int-inline-icon-pdf {
		background-position: 0 center;
		background:url(../img/icons/icon-pdf.gif) no-repeat;
		padding-left: 22px;
	}

	.int-icon-chevron-left,
	.int-icon-chevron-right {font-size:0.65em;}
	
}