// =============================================================================
// Colours
//
// =============================================================================

// Primary colour palette
@mid-blue: #0b55a8;
@light-blue: #a6d0ff;
@gold: #ffc23d;
@dark-blue: #002158;
@dark-grey: #312b39;
@white: #ffffff;
@black: #424242;

// Secondary colour palette
@purple: #880088;
@dark-purple: #470d43;
@mid-grey-blue: #929fb0;
@light-grey-blue: #e7eff7;

// Emphasis Colours
@green: #539d3c;
@red: #de2a1e;

// Component colours
@faint-blue: #e7eff7;

//Feature blocks and borders
@pale-yellow: #fff9eb;
@border-pale-blue: #a6d0ff;
@pale-blue: #f3f7fb;
@mid-grey: #d3d9df;

//Validation colours
@orange: #B65E00;
@success-green: #090;


 