// =============================================================================
// Definition list
// 
// =============================================================================

dt {
	font-weight: bold;
}

dd {
	margin-left:0;
    &.int-bulleted {
        margin-top: 1em;
		position: relative;
		display: block;
        p a {
            padding-left: 1.5em;
			display: inline-block;
            &:before {
                content: "\2022";
				color: #0b55a8;
				font-size: 1.6em;
				line-height: .8;
				margin-left: -1em;
				position: absolute;
				vertical-align: top;
                text-decoration: underline;
            }
            &:before,
			&:hover:before {
				text-decoration: none;
			}
        }
    }
}
/*Inline definition list*/

.inlineList {
    dt, dd {
        display: inline-block;
    }
    dt {
        margin-right : .75em;
        &:first-child {
            margin-left: 0;
        }
    }
    dd {
        margin-right: 1em;
    }
}
// Defintion list with images (as per How To Apply)
.int-dlCounter {
    counter-reset: section;
    dl {
        padding-bottom: 0;
        margin-left: 100px;
        @media (max-width: 766px) {
            margin-left: 80px;
        }
    }
    dt {
        font-size: 1.25em;
        font-weight: normal;
        margin-bottom: .5em;
        counter-increment: section;
        span {
            position: relative;
            &:before {
                content: counter(section) ".";
                margin-right: .5em;
            }
        }
        img {
            position:absolute;
            margin-left: -100px;
            @media (max-width: 766px) {
                margin-left: -80px;
            }
        }
    }
    dd {
        margin-left: 0;
        position:relative;
        margin-bottom: 1.5em;
    }
    dl, dt, dd {
        &:before, &:after {
            display: table;
            line-height: 0;
            content: "";
        }
        &:after {
            clear: both;
        }
    }
}