﻿// =============================================================================
// Banners (FED/Overalapping Academic Years)
// 
// =============================================================================
.int-banner {
    padding: 0 15px;
    margin-bottom: 1em;;
    &.two-thirds-width {
        padding: 0 15px;
    }
    .image {
        @media (max-width: 480px) {
            display: none;
        }
        img {
            width: 250px;
            @media (max-width: 767px) {
                max-width: 50%;
                display: block;
                margin: 0;
            }
        }
    }
    &.medium {
        h2 {
            font-size: 1.25em;
        }
        .image img {
            width: 200px;
        }
    }
    &.small .image img {
        width: 160px;
    }
    &.border {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        &.light-blue, &.light-grey-blue {
            border-top-color: @mid-blue;
            border-bottom-color: @mid-blue;
        }
    }
    &.no-margin {
        margin-bottom: 0;
        border-bottom: 0;
    }
    &.margin-top {
        @media (min-width: 768px) {
            margin-top: 1em;
        }
    }
    &.int-registration-banner {
        display: table;
        min-width: 100%;
        @media (max-width: 767px) {
            zoom: 1;
            margin: 0 -15px;
            margin-bottom: -2em;
        }
        &.border {
            border-bottom: 0;
        }
        .int-row {
            padding: 0 2em;
            @media (max-width: 767px) {
                padding: 0 15px;
            }
        }
    }
    &.light-blue {
        background: @light-blue;
    }
    &.light-grey-blue {
        background: @light-grey-blue
    }
    &.light-blue, &.light-grey-blue {
        color: @black;
        h2, h3, p {
            color: @black;
        }
        hr {
            border-color: @white;
        }
    }
    h3 {
        margin-top: 0;
        margin-bottom: .75em;
    }
}
.interaction .int-banner {
    background: transparent;
    border: 0;
    color: @white;
    padding: 0;
    h1, h2, h3, p {
        color: @white;
    }
    &.light-blue {
        background: @light-blue;
        color: @black;
        padding: 0 15px;
    }
    h2, h3, p {
        color: @black;
    }
    .image {
        padding-top: 1em;
        padding-bottom: 1em;
        @media (max-width: 767px) {
            padding-bottom: 0;
        }
    } 
}
.int-courses-hero .interaction {
    img {
        float: none;
    }
    .int-banner {
        .image {
            padding-top: 0;
            padding-bottom: 0;
        }
        h2 {
            font-size: 1.25em;
        }
    }
}
//Qualification Stage Banners
.multiBannerWrap {
    .mid-blue {
        background: @mid-blue;
        h1, h2, h3, p {
            color: @white;
        }
        h2 {
            margin-top: 0;
        }
    }
    .int-button {
        margin: 0;
    }
    .int-banner {
        display: table-cell;
        width: 50%;
        padding: 20px 15px 25px 15px;
        &:last-child {
            margin-bottom: 0;
        }
        @media (max-width: 767px) {
            width: 100%;
            display: block;
        }
    }
    .int-notice {
        padding-right: 0;
    }
    .int-notice.int-notice-icon[class*="int-notice"] {
        > h2 {
            margin-top: 0;
        }
        @media (max-width: 480px) {
            padding-left: 0;
            background: none;
        }
    }
    .int-notice.int-notice-icon {
        &.int-notice-icon-ou-doc {
            background-image: url('../img/icons/icon-ou-doc.png');
            background-position: 13px 5px;
            padding-left: 114px;
        }
        &.int-notice-icon-prospectus {
            background-position: 5px 0;
            padding-left: 114px;
        }
    }
}