﻿// =============================================================================
//  Feature Blocks
// 
// =============================================================================

.ImageActionBlock {
	margin-top: 1.65em;
    ~ .ImageActionBlock {
	    margin-top: 1em;
    }
    .int-grid12 {
        [class*="int-grid"] {
            .int-row:first-child {
                > h1 {
                    margin-top: 1.65em;
                }
                > h1,
                > h2,
                > h3,
                > h4,
                > h5,
                > h6 {
                    margin-top: 0;
	                padding-top: 0;
                }
            }
            .padded-container {
	            margin-top: 0;
            }
        }
    }  
}

// Feature blocks and form feature blocks

.int-feature {
    padding: 1em;
	background: @pale-yellow;
    button,
    input[type=button],
    input[type=submit],
    .int-button,
    a.int-button {
        margin-bottom: 0;
    }
    h1, h2, h3, h4 {
        &:first-child {
            margin-top: 0;
        }
    }
    &.int-border {
        border: 1px solid @gold;
    }
    &.int-borderTop {
        border-top: 1px dashed @gold;
    }
    &.int-borderBottom {
        border-bottom: 1px dashed @gold;
    }
    &.int-callToAction {
        background: @light-grey-blue;
        margin: 0 0 1em;
        padding: 1em;
        border: 0;
        &.int-borderTop {
            border-top: 1px dashed @border-pale-blue;
        }
        &.int-borderBottom {
	        border-bottom: 1px dashed @border-pale-blue;
        }
    }
    &.int-form {
        background: @pale-blue;
    }
    hr {
        border-bottom: 1px dashed @gold;
    }
    &.int-marginTop {
        margin-top: 1em;
    }
    &.int-checkListHeader {
        background: @light-grey-blue;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
    }
}
.int-form {
    + .int-form {
        margin-top: 2px;
    }
}
.int-info {
    border-left: 4px solid @gold;
    &.int-callToAction {
        border-left: 4px solid @border-pale-blue;
    }
}
.int-checkListContainer {
    padding: 0;
    border-left: 4px solid transparent;
    &:hover {
        border-color: #a6d0ff;
    }
}