// =============================================================================
// Search box
// 
// =============================================================================

.int-search-box{
    @media (min-width: @screen-sm) { 
        padding:1.25em 0 2em; 
    }
	.int-row {
		position:relative;
		> div {
			@media (min-width: @screen-xs) {
                padding-right:200px;
			}
            @media (min-width: @screen-xs) and (max-width: @screen-sm) {
                padding-right:175px;
			}
		}
	}
	fieldset{
		padding:0;
		margin:0;
	}
	input[type="text"], 
	input[type="search"] {
		font-size: 1.25em;
        padding:0.36em 0.8em;
		@media (min-width: @screen-xs) {
			font-size: 2.4em;
		}
	}
	button {
		position:relative;
		top:0;
		right:0;
		height: 44px;
        
		@media (min-width: @screen-xs) {
            position:absolute;
			height: 84px;
            font-size: 1.4em;
		}
        @media (min-width: @screen-xs) and (max-width: @screen-sm)  {
			height: 75px;
            
		}
		i {
			@media (min-width: @screen-xs) {
				font-size: 3em;
			}
		}
	}
}
// =============================================================================
// Search box My Account
// Depricated - included for legacy support
// =============================================================================
.int-search-box-my-account {
    padding-left: 96px;
    .int-row {
        position: relative;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 47px;
    }
    .searchBoxContainer {
        margin-right: 65px;
    }
    @media (max-width: 767px) {
        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 42px;
        }
        .searchBoxContainer {
            margin-right: 55px;
        }
    }
}