﻿.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}

/* custom styles */

.generatedcontent ul.ui-autocomplete li:before {
    content: "";
}

.ui-autocomplete {
    background: #fff;
    border: 1px solid #0b55a8;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.ui-autocomplete .ui-menu-item {
    padding: 0;

    
}

.ui-autocomplete.ui-menu .ui-menu-item a {
    padding: .5em 1.85em;
    font-size: 1.25em;
    display: block;
    &.ui-state-hover {
        background-color: #E7EFF7;
    }
}

.ui-autocomplete .ui-menu-item a.ui-state-focus {
    border: 0;
    background: #2892fb;
    color: #fff;
}
span.autocomplete_label {
    width: 1px!important;
    height: 1px!important;
    overflow: hidden;
    position: absolute;
    left: -99999999px;
}
