// =============================================================================
//  Select Widget
//  Experimental widget
// =============================================================================
.select-widget {
    background: @white url(../img/form-sprites-new.png) no-repeat right -6px;
    font-family: @base-font-family;
    cursor: pointer;
    .border-radius(4px);
    .appearance(none);
    font-size: @lrg-text-size;
    padding: 0.32em 73px 0.32em .8em;
    border: 4px solid @white;
    margin-bottom: 0.5em;
    position: relative;
    overflow: hidden;
    color: #000;
    .user-select(none);
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.4;
    &:focus, &:active {
        border-color: @gold;
        background-position: right -81px;
    }
    &.is-error {
        border-color: @red;
    }
    &-menu {
        padding: 0;
        border: 1px solid #2892fb;
        border-radius: 0;
        margin-top: -.6em;
        background: @white;
        min-height: 0;
        max-height: 300px;
        display: none;
        overflow: hidden;
        overflow-y: auto;
        div {
            padding: .05em 1em;
            color: #000;
            font-family: @base-font-family;
            font-size: @lrg-text-size;
            &:focus {
                border: 0;
                background: #2892fb;
                color: @white;
            }
        }
    }
}