// =============================================================================
//  Tabs
// 
// =============================================================================

//Tab navigation within each tab panel
.tabNav {
	display: table;
	float: right;
    &:before, &:after {
        display: table;
	    line-height: 0;
	    content: "";
    }
    &:after {
        clear: both;
    }
}
.tabNavButton {
    padding: .85em 1em;
	text-decoration: none;
    [class*="int-icon"] {
        font-size: @base-font-size;
	    padding-right: 0;
    }
    span {
        text-decoration: underline;
        &:hover, &:focus span {
            text-decoration: none;
        }
    }
    &.previous {
	    border:2px solid @faint-blue;
	    color: @mid-blue;
        [class*="int-icon"] {
            padding-right: .5em;
        }
    }
    &.next {
        background: @light-grey-blue;
	    color: @mid-blue;
        [class*="int-icon"] {
            padding-left: .5em;
        }
    }
}
.tabNavButton, .tabNavButton span, .tabNavButton [class*="int-icon"] {
	display: table-cell;
}
// =============================================================================
//  Account Tabs
//  Deprecated - included fo rlegacy support
// =============================================================================
.accounts-tab {
    li a {
        &:hover,
        &:focus {
            background: @light-blue;
            border-bottom: 1px solid #81b2ea;
            text-decoration: underline;
            color: @dark-grey;
        }
    }
    &-nav {
        border-bottom: 1px solid #81b2ea;
        width: 100%;
        z-index: 100;
        background: #0b55a8;
        position: relative;
        &.int-sticky-inpage {
            background: #0b55a8;
            position: relative;
            @media (max-width: 767px) {
                .int-container {
                    background: @light-blue;
                }
            }
        }
        li a {
            @media (min-width: 768px) {
                 color: @white;
            }
        }
    }
    @media (min-width: 768px) {
        li {
            &.active a {
                color: @dark-grey;
                background: @gold;
                border-bottom: 1px solid @gold;
                border-right: 1px solid @gold;
                padding-left: 19px;
                left: -1px;
                margin-right: -1px;
                &:hover, &:focus {
                    background: @gold;
                    border-bottom: 1px solid @gold;
                    text-decoration: underline;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid @gold;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    margin-left: -10px;
                }
            }
        }    
    }
    section {
        display: none;
    }
}
// =============================================================================
//  Course Details Tabs
//  Deprecated - included for legacy support
// =============================================================================
div#int-course-detail-tabs nav.int-sticky ~ section.ui-tabs-panel {
    padding-top: 0;
}