// =============================================================================
//  Toggler
// 
// =============================================================================

.js {
    .int-toggler {
        margin-bottom:0.25em;
        .int-toggleTrigger {
            background: @faint-blue;
            cursor:pointer;
            position:relative;
            padding:0.5em;
            margin:0;
            a {
                display:block;
                //&:hover, &:focus {
                //    span { text-decoration:underline; }    
                //}
                &:visited {
                    color: @mid-blue;
                }
            }
            span {
                font-size: @h3-font-size;
               // display:inline-block; Removed to stop text wrapping in Safari
                padding-left:0.5em;
                color: @mid-blue;
            }
            b { font-size:@h4-font-size; }
            .open { display:none; }
        }

        .int-toggleContent {
            display:none;
        }
        &.int-active {
            .int-toggleContent {
                display:block;
                border: 4px solid @light-grey-blue;
                border-top: 0;
                padding: 1em;
            }
            .int-toggleTrigger {
                .open { display:inline-block; }
                .closed { display:none; }
            }
        }
    }
    // R2.1 Fix for Toggler Text Colour - update, this causing issues for original toggler
    // h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    //    color: #a6d0ff;
    // }

    .int-form {
        .int-toggler.int-active .int-toggleContent {
            border: 0;
	        padding: 0;
        }
    }
}

