// =============================================================================
//  Tooltip
// 
// =============================================================================

@tooltip-bg: @dark-blue;
@tooltip-error-bg: @red;
@tooltip-arrow-size: 20px;

.int-tooltip {
	position: relative;
	margin-bottom: 5px;
	max-width:280px;
	.rounded(4px);
    border:1px solid @dark-blue;
	color: #ffffff;
	background-color: @dark-blue;
	padding: 2.5em 1em 1em 1em;
	h6 {
		color: @white;
		padding-right:12px;
	}
	p {
		font-size: @base-font-size;
	}
	.int-btn-close {
		position:absolute;
		top:10px;
		right:10px;
        z-index: 1;
	}
	
	// arrow styles

	&.int-tooltip-arrow-left {
		margin-left:@tooltip-arrow-size;
		&:before {
			.triangle(left, @tooltip-arrow-size, @tooltip-bg);
			position:absolute;
			top:15px;
			left:-@tooltip-arrow-size;
		}
	}

	&.int-tooltip-arrow-right {
		margin-right:@tooltip-arrow-size;
		&:before {
			.triangle(right, @tooltip-arrow-size, @tooltip-bg);
			position:absolute;
			top:15px;
			right:-@tooltip-arrow-size;
		}
	}

	&.int-tooltip-arrow-top, &.int-tooltip-arrow-top-right {
		margin-top:@tooltip-arrow-size;
		&:before {
			.triangle(up, @tooltip-arrow-size, @tooltip-bg);
			position:absolute;
			top:-19px;
		}
	}

	&.int-tooltip-arrow-bottom, &.int-tooltip-arrow-bottom-right {
		margin-bottom:@tooltip-arrow-size;
		&:before {
			.triangle(down, @tooltip-arrow-size, @tooltip-bg);
			position:absolute;
			bottom:-19px;
		}
	}

	&.int-tooltip-arrow-top:before, &.int-tooltip-arrow-bottom:before {
		left:15px;
	}

	&.int-tooltip-arrow-top-right:before, &.int-tooltip-arrow-bottom-right:before {
		right:15px;
	}

	&.int-tooltip-error {
		background: @red;
        border-color: @red;
		&.int-tooltip-arrow-bottom:before, &.int-tooltip-arrow-bottom-right:before {
			border-top-color: @red;
		}
		&.int-tooltip-arrow-top:before, &.int-tooltip-arrow-top-right:before {
			border-bottom-color: @red;
		}
		&.int-tooltip-arrow-left:before {
			border-right-color: @red;
		}
		&.int-tooltip-arrow-right:before {
			border-left-color: @red;
		}
	}

    // refactored tooltip
    &.int-tooltip-context {
        position: absolute;
        display: none;
        z-index: 3;
        outline: 0;
        //added to update tooltips for 'collision'
        min-width: 280px;
        width: 280px;
        margin-bottom:0;
        margin-left: 35px;
        margin-right: 35px;
        div {
            outline: 0;
        }
        .close-tooltip {
            float: right;
        }
        .close-tooltip-container {
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
        }
        // updated tooltip for 'collision'
        &.tooltip_top {
            &:before {
                 bottom: 13px;
            }
            &.tooltip_left:before {
                top: initial;
                bottom: 13px;
                left: initial;
                right: -20px;
            }
            &.tooltip_right:before {
                top: initial;
                bottom: 13px;
            }
        } 
        &.tooltip_bottom {
            &:before {
                 top: 13px;
            }
        }
        &.tooltip_left {
            &:before {
                border-top-width: @tooltip-arrow-size;
                border-bottom-width: @tooltip-arrow-size;
                border-left: @tooltip-arrow-size solid @dark-blue;
                border-right: 0px;
                left: initial;
                right: -20px;
            }
            .close-tooltip {
                left: -.8em;
            }
        }       
    }
}
@media (max-width: 480px) {
    .int-tooltip.int-tooltip-context {
        left: 0!important;
        right: 0!important;
        position: absolute;
        min-width: 100%!important;
        max-width: 100%;
        margin: 0;
    }
    .int-tooltip:before {
        border: 0 !important;
    }
}