// =============================================================================
// Checkboxes
// 
// =============================================================================

input[type=checkbox], input[type=radio] {
	float:left;
    margin: 0.7em 0.875em 0 .25em;
}
.generatedcontent {
    
    input[type=checkbox], input[type=radio] {
        margin-top:0.45em;
    }
    
    input[type="checkbox"]+label, input[type="radio"]+label {
        padding-top:8px;
    }
    
    input[type="checkbox"]+label:before, input[type="radio"]+label:before{
      content:"";
      display:inline-block;
      height:32px;
      margin:-2px 8px 0 -32px;
      vertical-align:middle;
      width:32px;
      background:url(../img/form-sprites.png) no-repeat;
    }
    
    input[type="checkbox"]:focus+label:before, input[type="radio"]:focus+label:before {
        outline:2px solid @gold;
    }
    
    input[type="checkbox"]+label:before{
        background-position: 0 -250px;
    }
    input[type="checkbox"]:checked + label:before {
        background-position: 0 -300px;
    }
    
    label.checkbox-checked:before {
        background-position: 0 -300px !important;
    }
    
    input[type="radio"]+label:before{
        background-position: 0 -150px;
    }
    input[type="radio"]:checked+label:before, input[type="radio"].checked+label:before{
        background-position: 0 -200px;
    }
    
    label.radio-checked:before {
        background-position: 0 -200px !important;
    }
	.int-accordion {
		input[type="checkbox"]+label:before {
			background-position: 0 -350px;
		}
		input[type="checkbox"]:checked+label:before {
			background-position: 0 -400px;
		}
		label.checkbox-checked:before {
			background-position: 0 -400px !important;
		}	
	}
    &.lt-ie9 {
        .interaction {
            input[type=checkbox], input[type=radio] {
                float:left;
                margin: 0.35em 0.875em 0 0;
            }
            input[type="checkbox"]+label, input[type="radio"]+label {
                padding-top:0px;
            }
            label:before, label:before{
                content:"";
                height:0px;
                width:0px;
                display:none;
                background:none;
                position:absolute;
                left:-9999px;
                top:-9999px;
            }
        }
    }
    //Checkbox styles when nested within a toggler
    .int-toggler {
        input {
            &[type="checkbox"] {
                + label {
                    &:before {
                        background-position: 0 -350px;
                    }
                }
                &:checked {
                    + label {
                        &:before {
                            background-position: 0 -400px;
                        }
                    }
                }
            }
        }
        label.checkbox-checked:before {
            background-position: 0 -400px !important;
        }
    }
}

//Radio check button style

.radioCheck {
    input {
        &[type="checkbox"], &[type="radio"] {
            margin-top: 1.5em;
        }
        &.radio {
            &:empty {
                position: absolute;
                ~ label {
                    position: relative;
                    line-height: 1.45em;
                    padding-left: 5em;
	                padding-right: .5em;
                    cursor: pointer;
                    .user-select;
                    border-bottom: 0;
                    font-family: @base-font-family;
                    font-size: @base-font-size;
                    margin-top: .5em;
                    background: @white;
                    border: 4px solid @mid-grey;
                    .rounded(4px);
                    &:before {
                        position: absolute;
                        display: block;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        content: 'Select';
                        width: 3.2em;
                        background: @light-blue;
                        margin: 0;
                        text-indent: 0;
                        height: auto;
                        text-align: center;
                        line-height: 1.8em;
                        font-size: @h3-font-size; /*For legacy IE*/
                        color: @mid-blue;
                    }
                    &:hover:before {
                        content:'\2714';
                        text-indent: 0;
                    }
                }
            }
            &:checked {
                ~ label {
                    border-color: @gold;
                    background: @pale-yellow;
                    &:before {
                        content:'\2714';
                        text-indent: 0;
                        color: @mid-blue;
                        background-color: @gold;
                    }
                }
                &:focus {
                    ~ label {
                        border-color: @mid-grey-blue;
                    }
                }
            }
            &:focus {
                ~ label {
                    &:before {
                        border: 0;
                        outline: 0;   
                    }
                }
                + label {
                    border-color: @gold;
                }
            }
        }
        label {
            display: table-cell;
        }
    }
}
.generatedcontent .radioCheck input[type=radio]:focus + label:before {
    outline: 0!important;
}

.int-checklistRow {
    .int-labelWrap {
        padding-right: 1.25em;
        width: 100%;
    }
    .int-labelWrap, input {
        display: table-cell;
    }
    label {
        position: relative;
        line-height: 1.45em;
        padding: 1.4em 0 1.4em 1em;
        cursor: pointer;
        .user-select();
        border-bottom: 0;
        font-family: @base-font-family;
        font-size: @base-font-size;
        display: table;
        width: 100%;
        &:hover {
            span.int-checkboxImage:before {
                content: '\2714';
            }
        }
    }
    input {
        &[type=checkbox] {
            margin: 0 1.85em;
        }
        & + span.int-checkboxImage:before {
            content: "";
            vertical-align: middle;
            position: absolute;
            top: 20%;
            right: 17px;
            width: 39px;
            background: @white;
            margin: 0;
            height: 39px;
            text-align: center;
            line-height: 1.6em;
            font-size: 1.25em;
            border: 4px solid @light-blue;
            color: @mid-blue;
        }
        &.checkbox {
            &:checked {
                & + span.int-checkboxImage:before {
                    content: '\2714';
                    text-indent: 0;
                    color: @mid-blue;
                    background-color: @gold;
                    border-color: @gold;
                }
                &:focus ~ span.int-checkboxImage:before {
                    border-color: #929fb0;
                }
            }
            &:focus {
                & ~ span.int-checkboxImage:before {
                    outline: 0;
                }
                & + span.int-checkboxImage:before {
                    border-color: @gold;
                }
            }

        }
    }
    .int-colBorderLeft, .int-colBorderRight {
        width: 3px;
        height: 100%;
        background: @white;
        position: absolute;
        top: 0;
    }
    .int-colBorderLeft {
        right: 71px;
    }
    .int-colBorderRight {
        right: 0;
        @media (max-width: 767px) {
            display: none;
        }
    }
}
