// =============================================================================
// Error message
// 
// =============================================================================

.int-error-msg {
    .rounded(4px);
    position: relative;
    display:block;
    border: 2px solid @red;
    padding:0.75em 2.8em 0.5em;
    margin-bottom: 1.25em;
    background:@white;
    font-size: @base-font-size;
    font-weight: bold;
    p, ul, a { color: @red; }
    .int-icon {
        color:@red;
        position:absolute;
        top:0.2em;
        left:0.2em;
    }
}

.generatedcontent .int-error-msg ul li:before {
    color: @red;
}

.generatedcontent ul .int-error-msg ul { margin-bottom: 1em; }

// ====================================================================================
// New validation messages
//
// ====================================================================================

.int-alert:before,
.int-alert:after {
	display: table;
	line-height: 0;
	content: "";
}
.int-alert,
.int-alert.int-success,
.int-alert.int-error {
    .rounded(4px);
    border-width: 2px;
    border-style: solid;
	position: relative;
	padding: .75em 2.8em;
	margin-top: 1.25em;
	background: @white;
	vertical-align:middle;
}

.int-alert {
    border-color: @orange;
    color: @orange;
    font-weight: bold;
    p, ul, ol, dl, dd, label, h1, h2, h3, h4, h5, h6 {
        border-color: @orange;
        color: @orange;
        font-weight: bold;
    } 
    + p, + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: .67em;
    }
    a {
        color: @orange;
    }

    &.int-success {
        border-color: @success-green;
        color: @success-green;
        p, ul, ol, dl, dd, label, h1, h2, h3, h4, h5, h6 {
            border-color: @success-green;
            color: @success-green;
        }
        a {
            color: @success-green;
        }
        a.int-alertRemove {
            color:@success-green;
            [class*="int-icon"]:hover {
                color: #060;
            }
        }
    }
    &.int-error {
        border-color: @red;
        color: @red;
        p, ul, ol, dl, dd, label, h1, h2, h3, h4, h5, h6 {
            border-color: @red;
            color: @red;
        }
        a {
            color: @red;
        }
    }
    &.int-alertSticky {
        position: fixed;
        max-width: 1180px;
        padding: .75em;
        width: auto;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        border-top: 0;
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        -moz-box-shadow: 0 4px 11px -4px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 4px 11px -4px rgba(0,0,0,0.3);
        box-shadow: 0 4px 11px -4px rgba(0,0,0,0.3);
        border-bottom-color: rgba(255,255,255,0.5);
        z-index: 999999;
        opacity: .95;
        filter: alpha(opacity=95);
	    -moz-animation: fadein 1s;
	    -webkit-animation: fadein 1s;
	    -o-animation: fadein 1s;
	    animation: fadein 1s;
    }
    a.int-alertRemove {
        line-height: 1.2em;
        position: relative;
        float: right;
        -moz-text-shadow: 0px 1px 0px @white;
        -webkit-text-shadow: 0px 1px 0px @white;
        text-shadow: 0px 1px 0px @white;
        margin-left: 1em;
        &:focus {
	        outline: thin dotted;
        }
        [class*="int-icon"]:hover {
            text-decoration: underline;
        }
    }
    .int-icon {
        position: absolute;
        top: .2em;
        left: .2em;
        + h3 {
            margin-top: .2em;
        }
    }
    &.int-noIcon {
        padding-left: .75em;
        padding-right: .75em;
    }
}
.ui-dialog div.int-alert a {
    color: @orange;
}
.generatedcontent .int-alert {
    ul li:before {
        color: @orange;
    }
    &.int-success {
        ul li:before {
            color: #008A00;
        }
    }
    &.int-error {
        ul li:before {
            color: @red;
        }
    }
}
.int-icon-remove:before, .ui-icon-closethick:before
{
	content: "\f00d";
}
.int-alertSticky
{
	position: fixed;
	width: auto;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	top: 6.8em;
	left: 24.5%;
	right: 6.5%;
	display: block;
	border-top: 0;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-moz-box-shadow: 0 4px 11px -4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 4px 11px -4px rgba(0,0,0,0.3);
	box-shadow: 0 4px 11px -4px rgba(0,0,0,0.3);
	border-bottom-color: rgba(255,255,255,0.5);
	z-index: 999999;
	opacity: .95;
	filter: alpha(opacity=95);
}
@media (max-width: 767px) {
    .int-error-msg,
    .int-alert,
    .int-alert.int-error,
    .int-alert.int-success {
        margin-top: 4.5em;
    }
}
// ====================================================================================
// Contextual validation messages
//
// ====================================================================================
.int-errorMessage {
    .rounded(4px);
    border-width: 2px;
    border-style: solid;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    background: #F9E5EA;
    width: 100%;
    padding: .5em .5em .5em 1em;
    font-weight: bold;
    margin: -.2em 0 1em 0;
    color: @red;
    border-color: @red;
}

.int-blockErrorMessages {
    display: table-row;
    div {
        display: table-cell;
        padding-left: 5px;
        font-size: 1.1em;
        &:first-child {
            padding-left: 0;
        }
    }
    span.int-errorMessage {
        margin-bottom: 5px;
        margin-top: -.7em;
        border-bottom: 0;
        border-top: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        width: 100%;
        clear: both;
        &:last-child {
            border-bottom: 2px solid @red;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
        }
        &:first-of-type {
            margin-top: -.2em;
            border-top: 2px solid @red;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -moz-border-top-right-radius: 4px;
        }
    }
}
.int-errorMessage a,
.ui-dialog .int-errorMessage a {
    color: @red;
}

// ====================================================================================
// Dialog alerts
// ui dialog has been replaced with int-modal-window, the following is provided as legacy
// ====================================================================================

.ui-dialog {
    .int-alert {
        margin: 0 0 .5em;
        ul li {
            padding-left: 1.5em;
            a {
                display: inline;
                border: 0;
                top: 0;
                padding: 0;
                &:hover {
                    background: inherit;
                    border: inherit;
                }
            }
        }
    }
    .int-errorMessage a {
        display: inline;
        border: 0;
        top: 0;
        padding: 0;
    }
}