// =============================================================================
// Forms
// 
// =============================================================================

@interaction-bg-color: 	@mid-blue;
@label-color: 		    @white;
@label-font-family: 	@secondary-font-family;
@label-font-size: 		@lrg-text-size;

.form-styles() {
	.box-sizing();
	//.box-shadow(0 3px 0px rgba(0,0,0,0.25));
	.rounded(4px);
	.appearance();
	width:100%;
	max-width: 100%;
	font-size: @lrg-text-size;
	background: @white; /* Old browsers */
	padding: 0.32em 0.8em;
	border: 4px solid transparent;
    margin-bottom:0.5em;
}

fieldset {
	border:0;
	legend {
		color: @label-color;
        font-size: @lrg-text-size;
        //IE hack to get legends to wrap
        white-space: normal;
        width: 100%;
        *margin-left: -7px;
        span {
            display: block;
            width: 100%;
            font-size: 1.4em;
        }
        &.heading1, &.heading2, &.heading3 {
            margin-bottom: .67em;
            margin-top: .67em;
            font-family: @secondary-font-family;
            font-weight: normal;
            font-style: normal;
            color: @white;
            + hr, + .int-alert {
                margin-top: 0;
            }
        }
	}
}
label, .int-label {
	display:block;
	padding-bottom:0.25em;
	font-family: @label-font-family;
	font-size: @lrg-text-size;
    padding:8px 0;
}
label {
    cursor:pointer;
}

.int-requiredAsterisk {
	color: @white;
	font-weight:bold;
	font-size: @lrg-text-size;
    display: inline;
}

.int-form-key {
    padding-bottom:0.5em;
}

/*Softer forms*/
.int-form {
    fieldset {
        margin: 0;
	    padding: 0;
    }
    legend {
        padding: .5em 0;
        span {
            display: block;
	        font-family: @secondary-font-family;
	        font-size: inherit;
	        cursor: pointer;
        }
    }
}
.int-feature {
    legend {
        color: @black;
    }
    &.int-borderBottom {
        + fieldset {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
.int-toggler label {
    color: @mid-blue;
}