// =============================================================================
// Text inputs
//
// =============================================================================

@input-focus-color: @gold;
@input-placeholder-color: #8797b0;

input, textarea {
    .placeholder(@input-placeholder-color);

    &.placeholder {
        color: @input-placeholder-color;
    }
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
    .form-styles(); // mixin from _forms.less
    .transition();

    &.is-error {
        border-color: @error-color;
    }

    &:focus {
        outline: 0;
        border-color: @input-focus-color;
    }

    &:disabled, &.disabled {
        border-color: @input-placeholder-color;
    }

    &.form-grid3 {
            width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
        /*@media(max-width:@screen-md){
        margin-left: 3px;
        }
        @media(max-width:@screen-sm){
        margin-left: 5px;
        }
        @media(max-width:@screen-xs){
        margin-left: 2px;
        }*/
    }
    &.form-grid3:first-child {
        margin-left: 0;
    }
}
