// =============================================================================
// Headings
// 
// =============================================================================

h1, h2, h3, h4, h5, h6 {
	font-family: @secondary-font-family;
	font-weight: normal;
    font-style: normal;
	color: @black;
	margin-top:0.67em;
	a {
		color: @mid-blue;
		font-weight:normal;
        text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	&.subheading {
		font-family: @base-font-family;
		font-weight:bold;
		a {
			color: @purple;
			text-decoration:underline;
			font-weight:bold;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}
h1, h2 {
	margin-bottom:0.67em;
}
h3, h4 { 
	margin-bottom: 0.5em; 
}
h5, h6 { 
	margin-bottom:0; 
}


h2, h3, h4, h5 {
	&.subheading {
		font-size: @base-font-size;
	}
}
h6.subheading {
	font-size: @sml-text-size;
}

// Inline headings

// Info feature
.int-info {
    .inlineHeading {
        .int-icon {
            font-size: 2em;
            color: @mid-blue;
        }
        h1, h2, h3, h4 {
            display: inline-block;
	        margin-right: 0;
        }
    }
}

.inlineHeading {
    a .int-icon {
        font-size: 17.6px;
        padding: 0;
    }
    h1, h2, h3, h4 {
        display: inline;
	    padding-right: .25em;
    }
    //Icon before heading
    .int-icon {
        padding-right: .25em;
        + h1, + h2, + h3, + h4 {
            min-height: 32px;
	        margin-top: 0;
	        vertical-align: middle;
	        padding-right: 0;
        }
    }
     //Icon after heading
    + h1, + h2, + h3, + h4 {
        .int-icon {
            padding-left: 0;
	        padding-right: 0;
	        vertical-align: sub;
        }
    }
}


